html, body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(#fdfbfb,#ebedee);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    padding-left: 300px;
}

#content {
    padding: 20px;
    margin: auto;
}

@media only screen and (max-width : 992px) {
    #container {
        padding-left: 0px;
    }
}

.nav-background{
    background: #35408E;
    border-bottom:2px solid rgb(255, 212, 28);padding-bottom:20px;
    color: #FDFDFD;

}

.sidebar-header{
    background-color: #35408E;
    border-bottom:2px solid rgb(255, 212, 28);padding-bottom:20px;
}

.sidebar-background{
    background: linear-gradient(#cfd9df, #e2ebf0);
}

.material-icons{
    color: #FFFFFF;
}

.btn{
    background-color: #09203f;
}


